@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

/*
    베이직
*/

* {
    margin: 0;
    padding: 0
}

body {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

.pnt {
    cursor: pointer;
}

/*---------------------------------------*/

/*
    헤더
*/

#header {
    background-color: aqua;
    background-size: cover;
    background-position: center;
    background-image: url(../img/headerBg.png);
    width: 100%;
    height: 500px;
}

#header div#container {
    text-align: center;
    margin-left: -39px;
    padding-top: 150px;
}

h1 {
    font-size: 150px;
    display: inline-block;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#DSM {
    color: #F5C159;
    font-weight: 100;
}

#CTF {
    margin-left: 12px;
    color: white;
    font-weight: bolder;
}

/*
    헤더-최상단 네비게이션
*/

#topbar {
    background-color: #343434;
}

#topbar ul {
    padding: 10px;
}

#topbar li {
    display: inline-block;
}

#topbar li.user {
    float: right;
}

#topbar li#login {
    border-right: 2px solid white;
}

#topbar li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 1.5vw;
}

/*------------------------------------*/

/*
    네비게이션
*/

#nav {
    background: #343434;
    z-index: 5;
}

.stickynav {
    position: fixed;
    top: 0;
    width: 100%;
}

#nav ul {
    padding: 10px;
    text-align: center;
    font-size: 0;
}

#nav span:last-child {
    display: inline-block;
    margin-left: -2px;
}

#nav li {
    display: inline-block;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding:1px 0;
}

#nav li:first-child {
    border-left: 2px solid white;
}
#nav li:last-child {
    border-right: 2px solid white
}

#nav li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 1.5vw;
}

#topbar li:hover,
#nav li:hover {
    background-color: #111111;
    font-weight: bolder;
}

    /*  상단으로 이동 >>> home  -------------*/

#home {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 100%;
    bottom: 50px;
    right: 50px;
    z-index:6;
    display: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.33);
    background-color: white;
    font-size: 0;
    background-image: url(../img/homearrow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    transition: all .2s ease-in;
}

.stickynav #home {
    display: block;
}

#home:hover {
    background-color: #343434;
}

    /*  -------------------------*/
/*
    섹션 도입
*/

.section {
    padding-top: 50px;
    text-align: center;
}

h2 {
    padding-top: 20px;
    font-size: 1.5em;
}
/*
    푸터(adress)
*/

#footer {
    background-color: #343434;
    height: 200px;
}

#footer ul {
    padding-top: 120px;
    text-align: center;
}

#footer ul li {
    display: inline-block;
    width: 200px;
    padding: 0 20px 0 20px;
    color: white;
}

#footer ul li#sh {
    text-align: right;
}

#footer ul li#email {
    border-left: 2px solid white;
    margin-left: -6px;
    text-align: left;
}

/*
    media처리
*/

@media (max-width: 800px) {
    #header {
        height: 72vw;
    }
    #header div#topbar a {
        font-size: 2.2vw;
        padding: 0 1vw;
    }
    #topbar li#login {
        border-right: none;
    }
    #header div#container {
        margin-left: -6vw;
        padding-top: 19vw;
    }
    h1 {
        font-size: 21vw;
    }
    #CTF {
        margin-left: -1px;
    }
    #nav ul {
        padding: 0.5vw;
    }
    #nav li {
        border: none;
    }
    #nav li a {
        font-size: 2.3vw;
    }
    #nav li:first-child {
    border-left:none;
    }
    #nav li:last-child {
        border-right:none;
    }
    footer ul li {
        font-size: 2.2vw;
    }
}

/*index.html페이지 방문시 애니메이션 효과*/

.probs #DSM {
    animation: anih1-1 2s;
}

.probs #CTF {
    animation: anih1-2 3s;
}

.index #DSM {
    animation: anih1-1 2s;
}

.index #CTF {
    animation: anih1-2 3s;
}

@keyframes anih1-1 {
    from {
        padding-right: 10vw;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes anih1-2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
}

/*-----------------------------*/

/*---------------------------------index.html--------------------->*/
/* 메인 사이트 */

.index .contents {
    background: #343434;
    color: white;
}
.index h2 {
    font-size: 40px;
    padding: 80px 0 0 0;
    text-align: center;
}
.index h3 {
    font-size: 20px;
    padding: 0 0 80px 0;
    text-align: center;
}

.index a:hover{
    color: #FFFFFF;
}

.index a{
    color: #AAAAAA;
}

.index .description {
    background: white;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 5px 5px 20px black;
}
.index .black {
    color: black;
}
.index .prize {
    text-align: center;
    margin-top: 200px;
}
.index .prize .prize-title {
    font-size: 30px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 300px;
    padding: 10px ;
    margin: 0 auto;
    margin-bottom: 50px;
}
.index .prize li {
    display: inline-block;
    width: 150px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 20px black;
    margin: 10px;
    background: linear-gradient(to right bottom,white 30%,#c9c9c9);
    color: black;
    height: 110px;
    box-sizing: border-box;
    transition: all .5s;
    overflow-y: hidden;
    margin-bottom: 80px;
}
.index .prize li div {
    padding: 40px;
    margin-bottom: 20px;
    text-shadow: 0 3px 2px rgba(1, 1, 1, 0.71);
    color: white;
    transition: all .5s;
}
.index .prize li:hover {
    height: 190px;
    margin-bottom: 0;
}
.index .prize li:hover div {
    font-size: 20px;
}
.index .artBg0 {background:url(../img/articleBg1.png) no-repeat;}
.index .artBg1 {background:url(../img/articleBg2.png) no-repeat;}
.index .artBg2 {background:url(../img/articleBg3.png) no-repeat;}
.index .article {
    padding: 100px;
    background-size: 200px;
}
.index .left-article {
    text-align: left;
    background-position: 80%;
}
.index .right-article {
    text-align: right;
    background-position: 20%;
}
.final-article {
    width: 500px;
    margin: 50px auto;
}
/*---------------------------------prepare.html--------------------->*/
/* 준비중 사이트 */

.prepare {
    background-color: #343434;
}

.prepare .contents {
    color: white;
    text-align: center;
}

.prepare .contents .ready {
    font-size: 30px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 400px;
    padding: 50px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 80px;
}

.prepare .contents .left {
    font-size: 20px;
}

.prepare .contents #time {
    margin-top: 30px;
    font-size: 50px;
}

/*---------------------------------probs.html--------------------->*/
/*섹션 구간(문제)*/
.probs .main>div {
    width: 200px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 2%;
    display: inline-block;
    margin: 30px 10px 30px 10px;
    box-shadow: 3px 3px 10px gray;
    transition: all .3s ease-in;
}

.probs .main .solve {
    background-color: gold;
}
.probs .main div h3 {
    box-sizing: border-box;
    width: 96%;
    height: 96%;
    margin-top: 2%;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2%;
    background-color: #EEEEEE;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0);
    transition: all .3s ease-in;
    text-overflow: ellipsis;
}

.div-table {
    display: table;
    width: 100%;
    height: 100%;
}

.div-table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.probs .main div h3:hover {
    color: white;
    text-shadow: 0 0 5px black;
}

.probs .main .prob h3 {
    filter: grayscale();
}

.probs .main .prob h3:hover{
    filter: none;
}


/*
    ------main박스 이미지 구간-----------*>
*/

.probs .section#Web h3 {
    background: url(../img/web.png);
    background-size: cover;
}
.probs .section#Network h3 {
    background: url(../img/network.png);
    background-size: cover;
}
.probs .section#Pwnable h3 {
    background: url(../img/pwnable.png);
    background-size: cover;
}
.probs .section#Reversing h3 {
    background: url(../img/reversing.png);
    background-size: cover;
}
.probs .section#Forensic h3 {
    background: url(../img/forensic.png);
    background-size: cover;
}
.probs .section#Crypto h3 {
    background: url(../img/crypto.png);
    background-size: cover;
}
.probs .section#Programming h3 {
    background: url(../img/programming.png);
    background-size: cover;
}
.probs .section#Misc h3 {
    background: url(../img/misc.png);
    background-size: cover;
}

/*
    -----------------------------
*/

/*---------- colorbox 구간----------------*/

.probs .colorbox-background {
    /*  배경 어두워짐  */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 10;
    display:none;
}
.probs .main .colorbox{
    width: 800px;
    height: 600px;
    background-color: white;
    position: fixed;
    left: 42%;
    top: 40%;
    margin: -200px 0 0 -250px;
    text-align: center;
    z-index: 20;
    display:none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 50px;
}

.probs .main .colorbox article p {
    text-align: left;
}

.probs .main .colorbox h4.colorbox-title {
    margin: 10% 10% 3% 10%;
    text-align: left;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 5%;
}

.probs .main .colorbox h4 strong {
    font-family: sans-serif;
    padding-right: 30px;
}

.probs .main .colorbox p.colorbox-des {
    height: 30%;
    font-size: 17px;
    margin-bottom: 10%;
}

.probs .main .colorbox article {
    display: inline-block;
    width: 40%;
    border-top: 1px solid lightgray;
    margin-top: 5%;
    margin: 1%;
    min-width: 150px;
}

@media(max-width : 1000px) {
    .probs .main .colorbox {
        width: 90vw;
        height: auto;
        margin: -200px 0 0 -40vw;
        padding-bottom: 5vw;
    }
    .probs .main .colorbox h4.colorbox-title {
        font-size: 1.5vw;
    }
    .probs .main .colorbox p.colorbox-des {
        font-size: 2vw;
    }
    .probs .main .colorbox article {
        font-size: 2vw;
    }
}
/*---------------------------------auth.html--------------------->*/

.main-auth {
    width: 500px;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2%;
    margin-bottom: 100px;
    box-shadow: 3px 3px 10px gray;
}
.main-auth>div {
    width: 97%;
    height: 97%;
    margin-bottom: 1.5%;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    margin-top: 1.5%;
    box-sizing: border-box;
    border-radius: 2%;
    background-color: #EEEEEE;
}
.main-auth h2 {
    margin-bottom: 20px;
    margin-top: 50px;
}
.main-auth .inputbox {
    width: 70%;
    height: 50px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    margin: 5px;
}
.main-auth .inputbox input {
    border: none;
    width: 90%;
    height: 50%;
    margin-top: 3%;
}
.main-auth .button {
    border: 1px solid rgba(0,0,0,0.2);
    margin-top: 10px;
    padding: 5px;
}
.main-auth .button#auth {
    width: 30%;
    height: 5%;
    margin-bottom: 50px;
}

@media (max-width : 700px) {
    .main-auth {
        width: 80%;
    }
    .main-auth h2 {
        margin-top: 8vw;
    }
    .main-auth #auth {
        margin-bottom: 10vw;
    }
}
/*---------------------------------login.html--------------------->*/

.main-login {
    width: 500px;
    height: 400px;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2%;
    margin-bottom: 100px;
    box-shadow: 3px 3px 10px gray;
}
.main-login>div {
    width: 97%;
    height: 95%;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    margin-top: 1.5%;
    box-sizing: border-box;
    border-radius: 2%;
    background-color: #EEEEEE;
}
.main-login h2 {
    margin-bottom: 20px;
}
.main-login .inputbox {
    width: 70%;
    height: 15%;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    margin: 5px;
}
.main-login .inputbox input {
    border: none;
    width: 90%;
    height: 50%;
    margin-top: 4%;
}
.main-login .button {
    border: 1px solid rgba(0,0,0,0.2);
    margin-top: 10px;
    padding: 5px;
}
.main-login .button#buttonlg {
    width: 70%;
    height: 5%;
}

@media (max-width : 700px) {
    .main-login {
        width: 80%;
    }
}
/*---------------------------------profile.html--------------------->*/

.main-profile {
    width: 700px;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2%;
    margin-bottom: 100px;
    box-shadow: 3px 3px 10px gray;
}
.main-profile>div {
    width: 97%;
    height: 97%;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    box-sizing: border-box;
    border-radius: 2%;
    background-color: #EEEEEE;
}
.main-profile h2 {
    margin-bottom: 20px;
}
.main-profile .inputbox {
    width: 30%;
    height: 30px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    margin: 5px;
    margin-left: 10%;
}
.main-profile .inputbox input {
    border: none;
    width: 90%;
    height: 50%;
    margin-top: 3%;
}
.main-profile .textbox {
    width: 30%;
    height: 30px;
    display: inline-block;
    margin: 5px;
    margin-left: 10%;
}
.main-profile .textbox input {
    border: none;
    width: 90%;
    height: 50%;
    margin-top: 3%;
}
.main-profile #message .inputbox .textbox{
    height: 60px;
}
.main-profile #message textarea {
    font-family: 'Raleway', sans-serif;
    resize: vertical;
    width: 90%;
    height: 70%;
    margin-top: 3%;
    border: none;
    width: 30%;
    height: 30px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    margin: 5px;
    margin-left: 10%;
}
.main-profile label {
    display: inline-block;
    width: 150px;
    font-size: 15px;
    text-align: left
}
.main-profile ul {
    padding: 20px;
    list-style: none;
    display: inline-block;
    width: 90%;
}
.main-profile ul li {
    display: inline-block;
    box-sizing: border-box;
    border-left: 2px solid gray;
    font-size: 12px;
    margin-top: 10px;
    padding: 2px 5px;
}
.main-profile ul li#frontli {
    border-left: none;
}
.main-profile #submit {
    width: 100px;
    padding: 5px;
    border: none;
    border: 1px solid rgba(0,0,0,0.2);
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width : 720px) {
    .main-profile {
        width: 80%;
    }
    .main-profile .inputbox {
        margin-left: 0;
        width: 50%;
    }
    .main-profile label {
        width: 70px;
        text-align: right;
    }
}
/*---------------------------------rank.html--------------------->*/

.main-rank {
    width: 1000px;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2%;
    margin-bottom: 100px;
    box-shadow: 3px 3px 10px gray;
}
.main-rank>div {
    width: 97%;
    height: 95%;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    box-sizing: border-box;
    border-radius: 2%;
    background-color: #EEEEEE;
}
.main-rank h2 {
    margin-bottom: 20px;
}
.main-rank .table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    overflow: auto;
}
.main-rank .table tr * {
    border: 1px solid #AAAAAA;
    padding: 10px;
}
.main-rank .table .ranknum {
    background-color: #F5C159;
    font-weight: bolder;
}

@media (max-width : 1000px) {
    .main-rank {
        width: 90%;
    }
    .main-rank .table {
        font-size: 2vw;
    }
    .main-rank .table tr * {
        padding: 2vw;
    }
}
/*---------------------------------register.html--------------------->*/

.main-register {
    width: 800px;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2%;
    margin-bottom: 100px;
    box-shadow: 3px 3px 10px gray;
}
.main-register>div {
    width: 97%;
    height: 97%;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    box-sizing: border-box;
    border-radius: 2%;
    background-color: #EEEEEE;
}
.main-register h2 {
    margin-bottom: 20px;
    padding-left: 23%;
}
.main-register span {
    font-size: 15px;
    color: #555555;
    padding-left: 10%;
    display: inline-block;
}
.main-register .inputbox {
    width: 50%;
    height: 30px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    margin: 5px;
}
.main-register .redcolor {
    color: red;
}
.main-register .inputbox input {
    border: none;
    width: 90%;
    height: 50%;
    margin-top: 3%;
}
.main-register #message .inputbox {
    height: 60px;
    margin-bottom: 50px;
}
.main-register #message textarea {
    resize: none;
    width: 90%;
    height: 70%;
    margin-top: 3%;
    border: none;
}
.main-register label {
    display: inline-block;
    width: 150px;
    font-size: 15px;
    text-align: left;
}
.main-register #submit {
    width: 100px;
    padding: 5px;
    border: none;
    border: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 30px;
}

@media (max-width : 800px) {
    .main-register {
        width: 80%;
    }
}
/*---------------------------------contact.html--------------------->*/

.main-contact {
    width: 600px;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2%;
    margin-bottom: 100px;
    box-shadow: 3px 3px 10px gray;
}
.main-contact>div {
    width: 97%;
    height: 97%;
    margin-bottom: 1.5%;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    margin-top: 1.5%;
    box-sizing: border-box;
    border-radius: 2%;
    background-color: #EEEEEE;
}
.main-contact h2 {
    margin-bottom: 20px;
    margin-top: 50px;
}
.main-contact .textbox {
    width: 70%;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    margin: 5px;
}
.main-contact .textbox .textarea {
    border: none;
    width: 90%;
    height: 100px;
    margin-top: 3%;
    margin-bottom: 3%;
    resize: vertical;
}
.main-contact .button {
    border: 1px solid rgba(0,0,0,0.2);
    margin-top: 10px;
    padding: 5px;
}
.main-contact .button#contact {
    width: 30%;
    height: 5%;
    margin-bottom: 50px;
}

@media (max-width : 800px) {
    .main-contact {
        width: 80%;
    }
    .main-contact h2 {
        margin-top: 8vw;
    }
    .main-contact #auth {
        margin-bottom: 10vw;
    }
}