/* intializing providen style */

/* font

font-family: 'NanumSquare';
font-family: 'Roboto', sans-serif;
font-family: 'Shadows Into Light', cursive;

*/

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* util class */

.left {
    float: left;
}

.right {
    float: right;
}

.pointer {
    cursor: pointer;
}

/* sidebar style */

.sidenav {
    background-color: rgba(0, 0, 0, 0.71);
    height: 100vh;
    right: 0;
    position: fixed;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    transition: .4s width ease-in-out;
    
    /* changeable */
    width: 0;
}

.sidenav-active {
    width: 100vw;
}

.sidenavCloseBtn {
    color: white;
    font-size: 3rem;
    line-height: 3rem;
    padding:1rem;
    display: block;
    width: 100%;
    height: 5rem;
    text-align: right;
    background: none;
    border: none;
    max-width: 50rem;
    margin: 0 auto;
}

.sidenavList {
    width: 100vw;
}

.sidenavLink {
    font-size: 1.5rem;
    line-height: 2rem;
    display: block;
    width: 13rem;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.sidenavLinkHover {
    transition: 0.2s background-color;
}

.sidenavLinkHover:hover {
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.33);
}

.sidenavTitle {
    font-size: 4rem;
    line-height: 5rem;
    border-bottom: 2px solid white;
    width: 16rem;
    margin: 0 auto 3rem auto;
    font-family: 'Shadows Into Light', cursive;
}

/* sticky navigation */

.stickyNav {
    height: 2.5rem;
    background-color: black;
    position: fixed;
    z-index: 10;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.stickyNavList {
    overflow-y: hidden;
    transition: 0.3s height ease-in-out;
    text-transform: uppercase;
    
    /* chageable */
    height: 0;
}

.stickyNavList-active {
    height: 20rem;
}

.sidenavOpenBtn {
    border: none;
    font-size: 1.5rem;
    line-height: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 11;
    background-color: black;
    color: white;
    transition: 0.2s background-color;
}

.sidenavOpenBtn:hover {
    background-color: #1f1f1f;
}

.sidenavOpenBtn:active {
    border: none;
}

.probsLink {
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    background-color: black;
    transition: 0.2s background-color;
    display: block;
}

.probsLink:hover {
    background-color: #1f1f1f;
}